iframe{
    width:90%;
    height:90vh;
    margin-left:10%;
    border: 5px solid white;
    border-radius: 10px;
}
@media only screen and (max-width:1300px){
    iframe{
        margin-left:0%;
        margin-top:10vh;
        margin-right:0%;
        width:96vw;
        height:80vh;
    }
}
#banner{
    width:90%;
}
h1{
    color:white;
}
.mid{
    text-align: center;
}
.photo{
    width:90%;
    border-radius: 50%;
    max-width: 229px;
    border: 5px solid white;
}
.strong{
    font-size: 35px;
}
.white{
    color:white;
}
.hide{
    display: none;
}
@media screen and (max-width:992px){
    .hide{
        display: initial;
    }
    .midd{
        text-align: center;
    }
    .photo{
        margin-bottom: 3%;
    }
}