/* footer{
     
    position:sticky;
  bottom: 0;
  width: 100%;
} */
/* html,
body {
 height: 100%;
 position: relative;
}

#cont-all{
    min-height: 100vh;
 
 display: block;
 position: relative;
} */
/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   } */
   html{
     height:100vh;
   }