*{
    font-family: 'Arimo', sans-serif;
}

.mid{
    text-align: center;
    color: #ffffff;
}
#h{
    min-height: 85vh;
}

.max-button{
    height:40px;
}
/* body{
    background: #212529;
    overflow-anchor: none;
} */
body {
  /* overflow-anchor: none; */
  /* width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg, 
        #19446c 0%, 
        #212529 20%, 
        #212529 80%, 
        #19446c 100%
  );  
  animation: AnimateBG 20s cubic-bezier(0.65, 0.47, 0.69, 0.78) infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:80% 50%}
  100%{background-position:0% 50%}
}
body::-webkit-scrollbar {
    width: 11px;
    background:#212529;
  }
  
  
  body::-webkit-scrollbar-track {
    background: #ffffff6a;
  }
  
  
  body::-webkit-scrollbar-thumb {
    background: #ffffffce;
    border-radius: 10px;
    
    
  }
  
  
  body::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }
  
a{
    color: rgb(255, 255, 255);
    text-decoration: dotted underline;
    

}
a:hover{
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#footer{
  clear: both;
  position: relative;
  margin-top: 100px;
}
/* #cont-all{
    height:100vh
} */
html{
    scroll-behavior: smooth;

    height:100vh;
}
#free-top{
    height:20vh;
}
#main-logo{
    width:50vw;
}
#slogan{
    color:white;
    font-size: 30px;
}
#take{
    color: #212529;
}

.center {
  text-align: center;
  list-style-position: inside;
}
#button {
    display: inline-block;
    background-color: rgb(31, 112, 204);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  @media (prefers-reduced-motion){
    transition: background-color 0s, opacity 0s, visibility 0s;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  .content {
    width: 77%;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }

@media screen and (max-width:1000px) {
    #free-top{
        height:10vh;
    }
}
@media screen and (max-width:600px) {
    #main-logo{
        width:80vw;
    }
}